* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
  font-weight: 200;
}

form {
  width: 350px;
  border: 3px solid rgb(128, 128, 128);
  border-radius: 10px;
  padding: 1rem;
}
.form-container{
  display:flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
.product-name:focus{
  outline: none;
}
.product-name{
  border: none;
  border-radius: 10px;
  padding: 1%;
}
::placeholder{
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  background-color: #a7919d7f;
  border-radius: 10px;
}
.input-wrapper-isAvailable{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form button {
  margin: auto;
  display: block;
}

li {
  list-style: none;
  border: 3px solid rgb(128, 128, 128);
  border-radius: 10px;
  margin: 10px auto;
  margin-top: 3rem;
  padding: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
li > h4 {
  font-weight: 400;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
li span {
  font-weight: bold;
}

li button {
  margin-right: 1rem;
  padding: 0.25rem 1.25rem;
}

.btn-delete {
  border: 1px solid #ff0000;
  background-color: #ff0000;
  color: white;
  border-radius: 1rem;
}

.btn-edit {
  border: 1px solid #cd6e8a;
  background-color: #cd6e8a;
  color: white;
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
}
ul{
  display: flex;
}